Telethon
setuptools
wheel
aiohttp
beautifulsoup4
cfscrape
cloudscraper
pymongo[srv]
speechrecognition
cowpy
colour
cryptg
csvfaker
fontTools
emoji
httpx[http2]
fonttools
geopy
gitpython
glitch_this
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gsearch
gtts
hachoir
heroku
html-telegraph-poster
humanize
jotquote
justwatch
kwot
lottie
lxml
jikanpy
lyricsgenius
markdown
motor
flask
gunicorn
patool
Pillow
prettytable
psutil
pyfiglet
PyGithub
programmingquotes
pygments
psycopg2-binary
pylast
pymediainfo
pySmartDL
python-barcode
pyTelegramBotAPI
pytuneteller
pytz
qrcode
wget
urlextract
IMDbPY
ShazamAPI
search-engine-parser
selenium
spamwatch
sqlalchemy
sqlalchemy-json
telegraph
tgcrypto
tswift
PyMuPDF
validators
vcsi
Wand>
wikipedia
ujson
git+https://github.com/buddhhu/img2html.git
git+https://github.com/alexmercerind/youtube-search-python
git+https://github.com/cinemagoer/cinemagoer
